.detection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.headers{
    display: flex;
    align-items: center;justify-content: space-between;
}

.headers > button{
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    border: none;
    padding: 8px;
    background-color: rgb(239, 84, 84);
    color: white;
}

.headers > button:hover{
    background-color: rgb(119, 5, 5);
}

.headers > h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: xx-large;
}

.user_detect{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 80px;
}

.user_detect > form{
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
}

.b2{
    padding: 5px;
    border: none;
    border-radius: 7px;
    background-color: rgb(69, 24, 112);
    color: white;
    margin-left: 10px;
}

.filebase{
    border: none;
    margin-right: 50px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightcyan;
    border-radius: 7px;
}

.b1{
    padding: 5px;
    border: none;
    border-radius: 7px;
    background-color: rgb(26, 26, 97);
    color: white;
}

.user_detect > form > button:hover{
    background-color: rgb(76, 76, 231);
}

.detect_images{
    display: flex;
    
}

.i1{
    margin: 10px;
}

.i1>p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.i2>p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.i1>img{
    border-radius: 10px;
}

.i2>img{
    border-radius: 10px;
}

.i2{
    margin: 10px;
}

.span1{
    padding: 8px;
    border: none;
    border-radius: 7px;
    background-color: lightgoldenrodyellow;
}

.span2{
    padding: 8px;
    border: none;
    border-radius: 7px;
    background-color: lightskyblue;
    margin-left: 40px;
}
